body {
    font-family: Arial, sans-serif;
    background-color: #ffe5e5;
    color: #ff4081;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .Text{
    color:#ff4081;
    font-weight: bold;
    font-size: 30;
  }
  .birthday-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  button {
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e91e63;
  }